<div  class="container-fluid main-border">
  <div  class="row padding">
    <div class="col-sm"></div>
    <div class="col-sm"><img class="small_image_size" src= "../../assets/research/DrRahimi.jpg"/></div>
    <div class="col-sm paddingTop5">
      <!--<div class="container-fluid paddingBotttom5">
        <div class="row">
            <div>College: &nbsp; </div>
            <div><b>{{ x.collegeName}}</b></div>
        </div>
      </div>-->
      <div class="container-fluid paddingBotttom5">
          <div class="row">
              <div>Name:&nbsp; </div>
              <div><b>Dr.Shaharam Rahimi</b></div>
          </div>
      </div>
      <div class="container-fluid paddingBotttom5">
          <div class="row">
              <div>Role:&nbsp; </div>
              <div><b>Head of the CSE Department</b></div>
          </div>
      </div>
      <div class="container-fluid paddingBotttom5">
          <div class="row">
              <div>University :&nbsp; </div>
              <div><b>Mississippi State University</b></div>
          </div>
        </div>
        <div class="container-fluid paddingBotttom5">
          <div class="row">
              <div>Email/Contact :&nbsp; </div>
              <div><b>rahimi@cse.msstate.edu / 662-325-7450</b></div>
          </div>
        </div>
        <div class="container-fluid paddingBotttom5">
          <div class="row">
              <div>Research Interest :&nbsp; </div>
              <div><b>Computational Intelligence, Machine Learning and Soft Computing, Artificial Intelligence, Multi-Agent Systems</b></div>
          </div>
        </div>
    </div>
    <div class="col-sm"></div>
  </div>
</div>