<div *ngFor="let x of projectDetails" class="container-fluid main-border">
  <div  class="row padding">
    <div class="col-sm"></div>
    <div class="col-sm"><img class="small_image_size" src= {{x.imagePath}}/></div>
    <div class="col-sm paddingTop5">
      <!--<div class="container-fluid paddingBotttom5">
        <div class="row">
            <div>College: &nbsp; </div>
            <div><b>{{ x.collegeName}}</b></div>
        </div>
      </div>-->
      <div class="container-fluid paddingBotttom5">
          <div class="row">
              <div>Name:&nbsp; </div>
              <div><b>{{ x.name}}</b></div>
          </div>
      </div>
      <div class="container-fluid paddingBotttom5">
          <div class="row">
              <div>Dates:&nbsp; </div>
              <div><b>{{ x.dates}}</b></div>
          </div>
      </div>
      <div class="container-fluid paddingBotttom5">
          <div class="row">
              <div>Platform :&nbsp; </div>
              <div><b>{{ x.platform}}</b></div>
          </div>
        </div>
      <div class="container-fluid paddingBotttom5">
            <div class="row">
                <div>Languages :&nbsp; </div>
                <div><b>{{ x.languages}}</b></div>
            </div>
          </div>
      <div *ngIf="x.Databases != ''" class="container-fluid paddingBotttom5">
              <div class="row">
                  <div>Databases :&nbsp; </div>
                  <div><b>{{ x.Databases}}</b></div>
              </div>
      </div>
      <div class="container-fluid paddingBotttom5">
        <div class="row">
            <div>Description :&nbsp; </div>
            <div><b>{{ x.Description}}</b></div>
        </div>
      </div>

    </div>
    <div class="col-sm"></div>
  </div>
</div>