<!--
<div  class="container-fluid main-border">
  <div  class="row padding">
    <div class="col-sm"></div>
    <div class="col-sm"><img class="small_image_size" src= "../../assets/profile/Harish.JPG"/></div>
    <div class="col-sm paddingTop5">
      <div class="container-fluid paddingBotttom5">
        <div class="row">
            <div>College: &nbsp; </div>
            <div><b>{{ x.collegeName}}</b></div>
        </div>
      </div>
      <div class="container-fluid paddingBotttom5">
          <div class="row">
              <div>Name:&nbsp; </div>
              <div><b>Harish Kumar Manchukonda</b></div>
          </div>
      </div>
      <div class="container-fluid paddingBotttom5">
          <div class="row">
              <div> Current Role:&nbsp; </div>
              <div><b>Software Developement Intern at Potentia Analalytics @ Carbondale, Illinios</b></div>
          </div>
      </div>
      <div class="container-fluid paddingBotttom5">
          <div class="row">
              <div>University :&nbsp; </div>
              <div><b>Mississippi State University</b></div>
          </div>
        </div>
        <div class="container-fluid paddingBotttom5">
          <div class="row">
              <div>Research Interest :&nbsp; </div>
              <div><b>Artificial Intelligence, Machine Learning</b></div>
          </div>
        </div>
        <div class="container-fluid paddingBotttom5">
          <div class="row">
              <div>Personal Interest :&nbsp; </div>
              <div><b>Web Applications, VR Apps</b></div>
          </div>
        </div>

        <div class="container-fluid paddingBotttom5">
          <div class="row">
              <div>Age / DOB :&nbsp; </div>
              <div><b>22 / 17th June 1996</b></div>
          </div>
        </div>
        <div class="container-fluid paddingBotttom5">
          <div class="row">
              <div>Sports Interested:&nbsp; </div>
              <div><b>Cricket, Badminton</b></div>
          </div>
        </div>
        <div class="container-fluid paddingBotttom5">
          <div class="row">
              <div>Habits :&nbsp; </div>
              <div><b>Exploring new Technologies</b></div>
          </div>
        </div>
        <div class="container-fluid paddingBotttom5">
          <div class="row">
              <div>Kindness :&nbsp; </div>
              <div><b>Good</b></div>
          </div>
        </div>
        <div class="container-fluid paddingBotttom5">
          <div class="row">
              <div>Mentally :&nbsp; </div>
              <div><b>Open Minded</b></div>
          </div>
        </div>
    </div>
    <div class="col-sm"></div>
  </div>
</div>

-->

<div id="fullBody" class="container-fluid">
    <div class="row paddingPersonal">
            <div class="col-sm-1"></div>
            <div class="col-sm-2"> </div>
            <div class="col-sm-7"> 
                <b class="fontDesign">Hi! I'm Harish Kumar Manchukonda</b> <br>
                <b class="fontDesignHalf">{{ role }}</b><br>
            </div>
            
            <div class="col-sm-2" ></div>
    </div>
</div>

<div class="container-fluid">
        <div class="row ">
                <div class="col-sm-2"></div>
                
                <div class="col-sm-6 paddingCenter"> 
                        <b class="htmlCode">About Me</b><br>
                        <br>
                        <b class="aboutMe">{{aboutMe}}</b>
                            
                </div>
                <div class="col-sm-2"><img class="small_image_size" src= "../../assets/profile/Harish-Updated2.png"/> </div>
                <div class="col-sm-2"></div>
        </div>
</div>
<div class="container-fluid">
        <div class="row paddingBotttom7 ">
                <div class="col-sm-2"></div>
                
                <div class="col-sm-8 paddingCenter"> 
                        <b class="htmlCode">Areas of Interest</b><br>
                        <br>
                        <b class="aboutMe">{{intrestedAreas}}</b>
                            
                </div>
                <div class="col-sm-2"></div>
        </div>
</div>

<div class="container-fluid footer">
        <div class="row paddingBotttom2">
                <div class="col-sm-2"></div>
                
                <div class="col-sm-8 "> 

                    <div class="row paddingBotttom2">
                            <img class="smallicon" src="../../assets/contact/linkedIn.png" onclick="window.location.href='https://www.linkedin.com/in/harish-kumar-manchukonda-b2b531113/'"/>
                            <img class="smallicon" src="../../assets/contact/hackerrank.png"  onclick="window.location.href='https://www.hackerrank.com/Manchukonda'"/>
                            <img class="smallicon" src="../../assets/contact/github.png" onclick="window.location.href='https://github.com/Manchukonda'" />
                            <img class="smallicon" src="../../assets/contact/qoura.png" />
                            <img class="smallicon" src="../../assets/contact/skype.png" />
                            <img class="smallicon" src="../../assets/contact/twitter.jpg" />
                            <img class="smallicon" src="../../assets/contact/facebook.jpg" onclick="window.location.href='https://www.facebook.com/manchuderocz'" />
                        </div>
                        <div class="row paddingBotttom2 buttonCss">
                                <button type="button" class="btn btn-primary " onclick="window.location.href='../../assets/profile/Harish Manchukonda Resume Updated.pdf'">View/Download Resume (Paper Format)</button>
                                <button type="button" class="btn btn-link " onclick="window.location.href='https://msstate-csm.symplicity.com/profiles/harishkumar.manchukonda'">Resume Link</button>
                            </div>

                        <div class="row paddingBotttom2">
                            <div class="col-sm-4 row paddingMagic">
                                <img class="smalliconChange" src="../../assets/contact/phone.png" />
                                <span><b>{{usNumber}}<br>{{indiaNumber}}</b></span>
                            </div>
                            <div class="col-sm-8 row paddingMagic">
                                    <img class="smalliconChange" src="../../assets/contact/mail.png" />
                                <span><b>{{personalMail}}</b><br><b>{{universityMail}}</b><br><b> {{professionalMail}}</b></span>
                            </div>
                        </div>
                </div>
                <div class="col-sm-2"></div>


        </div>
    </div>



